/* Style for About.js */
.about-container > div.about > section.about-input {
  width: 94%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.about-container > div.about > section.about-input > p {
  text-decoration: underline;
}
.about-container > div.about > section.about-input > button {
  grid-column: 1 / 3;
  width: 94%;
  margin: 2rem auto;
}
.about h1 {
  text-align: center;
}
.about > .about-section > p.about-text {
  max-width: 40ch;
  padding: 1.5rem 0;
}
.about > .about-section > p.about-text:not(:last-child) {
  border-bottom: 1px dashed var(--blue);
}
.about .string-input-array section {
  display: grid;
  margin: 1rem 0;
  grid-template-columns: 1fr;
}
.about-image {
  width: min(25ch, 90%);
  margin: auto;
}
@media (max-width: 1099px) {
  .about-container > div.about > section.about-input {
    grid-template-columns: 1fr;
  }
}