@keyframes record-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
div#audio-player {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 4rem;
  width: 100vw;
  box-shadow: var(--shadow);
  background-color: var(--font-color-transparent);
}
div#audio-player > section.audio-player-container {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: 1fr 1fr 3.5rem;
  grid-template-rows: 3rem 0.5rem;
  margin: 0.5rem 2rem 0 2rem; 
  padding: 0;
  height: 3.5rem;
  color: var(--white);
}

div#audio-player > section.audio-player-container > section.audio-player-image {
  grid-column: 3;
  grid-row: 1 / 3;
  height: 3.5rem;
  width: 3.5rem;
  transform: translateY(-0.25rem);
  overflow: hidden;
}
div#audio-player > section.audio-player-container > section.audio-player-image > img {
  min-width: 3.5rem;
  min-height: 3.5rem;
}
div#audio-player > section.audio-player-container > section.audio-player-image > img:first-child {
  filter: brightness(70%) blur(0.5px);
}
div#audio-player > section.audio-player-container > section.audio-player-image > img:last-child {
  transform: translateY(-4.2rem) scale(0.6);
  filter: invert(1);
}
div#audio-player > section.audio-player-container > section.progress {
  transition: 0.7s;
  grid-column: 1 / 3;
  border-top: 0.75rem solid var(--white);
  height: 0rem;
}
.audio-player-container-small {
  display: none;
}
@media (max-width: 500px) {
  div#audio-player {
    opacity: 0.8;
    transition: 0.3s;
    position: fixed;
    bottom: 2.25rem;
    right: 2.25rem;
    left: calc(100vw - 5.25rem);
    height: 3rem;
    width: auto;
    padding: 0;
    border-radius: 3rem;
    background: var(--light-navy-blue);
    box-shadow: 3px 3px 6px var(--transparent-dark-blue),
                -2px -2px 4px var(--transparent-blue),
                -2px 2px 4px var(--transparent-blue),
                3px -3px 6px var(--transparent-dark-blue);
  }
  div#audio-player.open {
    opacity: 1;
    left: 1.5rem;
    background: var(--light-navy-blue-thicc);
  }
  .audio-player-container-small {
    transition: 0.4s;
    display: grid;
    height: 3rem;
    grid-template-columns: 3rem 1fr;
  }
  .audio-player-small-image {
    padding: 0;
    margin: 0;
    width: 3rem;
    height: 3rem;
    border-radius: 3rem;
  }
  .audio-player-small-image img {
    border-radius: 3rem;
    width: 2.8rem;
    height: 2.8rem;
    margin: 0.1rem;
  }
  div#audio-player .small-toggle-play {
    display: inline-block;
    cursor: pointer;
    width: 2.8rem;
    height: 2.8rem;
    opacity: 0;
  }
  div#audio-player.open .small-toggle-play {
    animation: fadeIn;
    animation-duration: 0.2s;
    animation-delay: 0.3s;
    animation-fill-mode: forwards;
  }
  div#audio-player .small-toggle-play img {
    width: 100%;
    filter: invert(1);
  }
  div#audio-player .audio-player-small-time {
    margin-left: 0.1rem;
    align-items: center;
    justify-content: center;
    display: none;
  }
  div#audio-player.open .audio-player-small-time {
    display: grid;
    grid-template-columns: 1fr 3rem;
    align-items: center;
    justify-content: center;
  }
  div#audio-player .audio-player-small-time span {
    vertical-align: middle;
    margin: 0.1rem auto;
    text-align: center;
    padding: 0.3rem;
    opacity: 0;
    font-size: 1.2rem;
    letter-spacing: -0.075rem;
    color: var(--white)
  }
  div#audio-player.open .audio-player-small-time span {
    animation: fadeIn;
    animation-duration: 0.3s;
    animation-delay: 0.2s;
    animation-fill-mode: forwards;
  }
  div#audio-player > section.audio-player-container {
    display: none;
  }
}