:is(html, body, #root) {
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  width: 100vw;
  min-height: 100vh;
}
*, *::after, *::before {
  box-sizing: border-box;
  user-select: none;
}
input, textarea {
  user-select: text;
}
img {
  width: 100%;
}
img.invert {
  filter: invert(1);
}
#root {
  width: 100vw;
}