:is(html, body, #root) {
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  position: absolute;
  width: 100vw;
  min-height: 100vh;
}
*, *::after, *::before {
  box-sizing: border-box;
  user-select: none;
}
#root {
  padding: 0.825rem 0 5rem 0;
  background: var(--tan);
}
main {
  margin-top: 2.25rem;
}
img {
  width: 100%;
}
img.invert {
  filter: invert(1);
}
div.circle-image-container {
  display: grid;
  padding: 0;
  align-items: center;
  width: min(15ch, 200px);
  height: min(15ch, 200px);
  border-radius: 50%;
  border: 1px solid var(--brown);
  box-shadow: 0 0 5px var(--brown);
  margin: 1rem auto;
  overflow: hidden;
}
div.circle-image-container > img {
  min-width: 100%;
  min-height: 100%;
}