:is(input, p, span, button, div, h1, h2, h3, h4, h5, h6, textarea) {
  margin: 0;
  padding: 0.125rem 0.25rem;
  color: var(--font-color);
  font-size: var(--font-size);
  line-height: 2.25rem;
  font-family: var(--ff-main);
}
input, textarea, button {
  color: var(--font-color);
}
textarea {
  resize: none;
  overflow: hidden;
}
:is(h1, h2, h3, h4, h5, h6, b) {
  letter-spacing: 1.3px;
  font-family: var(--ff-written);
}

h1 {
  letter-spacing: 4px;
  color: var(--font-color);
  font-size: 3rem;
  line-height: 4.5rem;
}
h2 {
  font-size: 2rem;
  line-height: 3rem;
}
h3 {
  font-size: 1.8rem;
  line-height: 2.7rem;
}
h4 {
  font-size: 1.6rem;
  line-height: 2.4rem;
}
h5 {
  font-size: 1.4rem;
  line-height: 2.1rem;
}
h6, b {
  font-size: 1.2rem;
  line-height: 1.8rem;
}

.text-center { 
  text-align: center;
}
.align-center { 
  text-align: center;
}
.align-left { 
  text-align: left;
}
.align-right { 
  text-align: right;
}
.link {
  color: var(--link-color);
  cursor: pointer;
}