main {
  margin-bottom: 5rem;
}
.dropable:not(.trash) {
  height: 2rem;
  margin: 0 4rem;
}
.dropable.trash {
  display: none;
  align-items: center;
  position: fixed;
  right: 0;
  top: 0;
  width: 2rem;
  height: 100vh;
}
main.dragging .dropable {
  background-color: #cccccc66;
}
main.dragging .dropable.trash {
  display: grid;
  background-color: #ff000033;
}
.editable {
  padding: 1rem 0;
}
.component-selector {
  z-index: 10;
  display: grid;
  align-items: center;
  justify-items: center;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: 0 !important;
  max-width: 100vw !important;
  background-color: #cccccc66;
}
.component-selector > div {
  width: 84%;
  max-width: 600px;
  max-height: 80%;
  border: 1px solid var(--font-color);
  background-color: #ffffffcf;
}
.component-selector .component {
  display: grid;
  grid-template-rows: 200px 2rem;
  margin: 0.5rem;
  padding: 1rem;
  text-align: center;
}
.component-selector .component img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.component-selector .component span {
  font-size: 2rem;
}
.hovering {
  background-color: #ffffff44;
}