main h1 {
  font-size: 4rem;
  text-align: center;
}
div.row {
  width: 100%;
  display: grid;
  align-items: center;
  margin-top: 1.5rem;
}
div.row.cols-2 {
  grid-template-columns: 1fr 1fr;
}
div.row.cols-3 {
  grid-template-columns: 1fr 1fr 1fr;
}
div.row.cols-4 {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
div.row > div {
  width: 100%;
  max-width: 55ch;
  margin: auto;
}
div.text-center {
  align-items: center;
}