main {
  width: 100vw !important;
  margin-bottom: 1.5rem;
}
footer {
  margin-bottom: 4rem;
}
main h1 {
  font-size: 4rem;
  text-align: center;
}
div.row {
  width: 100%;
  display: grid;
  align-items: center;
  margin-top: 1.5rem;
  padding: 0;
}
div.row.cols-2 {
  grid-template-columns: 50% 50%;
}
div.row.cols-3 {
  grid-template-columns: 33% 33% 33%;
}
div.row.cols-4 {
  grid-template-columns: 25% 25% 25% 25%;
}
div.row > div {
  width: 100%;
  margin: auto;
  padding: 0;
}
div.row:not(.breakout) > div {
  max-width: 55ch;
}
div.text-center {
  align-items: center;
}
@media (max-width: 800px) {
  div.row.cols-2, div.row.cols-3 {
    grid-template-columns: 1fr;
  }
  div.row.cols-4 {
    grid-template-columns: 1fr 1fr;
  }
}